html{
    background: #EFF2F0;
}


.error_input{
    border: 2px solid #d63031;
}

main {
    background: #bdc3c7;
    height: 500px;
    width: 70%;
    margin: auto;
}

header{
    background: #FF5733;
}

header h1{
    text-align: center;
}

header nav{
    text-align: center;
    padding: 50px;
    margin-bottom:50px;     

}

header nav a{
   color: #000000;
    text-decoration: none;
    margin-right: 15px;
   
}


.formulario{
    padding-top:150px; 
    margin-left:41%;
    
}

.nombre{
    margin-bottom: 10px;
}

.Fecha{
    margin-bottom: 10px;
}

.Fecha  label{
padding-right:81px; 
}

.boton {
text-align: left;
}




